@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.image {
  width: 700px;
  border-radius: 5%;
}
.main-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  color: #ceab74;
  font-family: "DM Serif Text", serif;
  font-weight: 600;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.item-image {
  width: 200px;
  border-radius: 10%;
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
  border-color: #d8ad68;
  margin: 10px;
  border-radius: 10%;
  border-width: 4px;
  padding: 10px;
  background-color: #01a1a7;
  color: #e1c290;
  font-family: "DM Serif Text", serif;
  font-weight: 600;
}
/* .item-container:hover {
  background-color: #01a1a7a6;
  color: #8a5e17;
} */
.divs {
  display: flex;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar {
  color: #8a5e17;
  border: none;
  background-color: #00000018;
  border-radius: 10px;
  width: 300px;
  height: 35px;
  padding: 10px;
}

.visitor-button {
  background-color: #01a1a7;
  border-radius: 15px;
  border: none;
  color: #e1c290;
  width: 120px;
  height: 60px;
  cursor: pointer;
  margin: 10px;
}
.visitor-button:hover {
  background-color: #01a1a7ad;
  color: #8a5e17;
}
.modal-button {
  border-radius: 10px;
  width: 100px;
  border: none;
  color: #8a5e17;
  cursor: pointer;
  height: 22px;
  background-color: rgb(232, 231, 231);
}

.modal-button:hover {
  background-color: rgba(223, 218, 218, 0.959);
}

.modal-background {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #a37935;
}

.delete-button {
}

.two {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal-button-delete {
  border-radius: 10px;
  width: 100px;
  border: none;
  color: #fcfcfb;
  cursor: pointer;
  height: 22px;
  background-color: rgb(219, 111, 111);
}
.visitor-container {
  display: flex;
  justify-content: space-between;
}

.cookies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
